
.btn-help {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-help:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.inactivelink{
  pointer-events: none;
  cursor: default;
  color: grey !important;
}


.btn-info{
  color: white !important;
}

.btn-success{
  color: #fff !important;
  background-color: #28a745  !important;
  border-color: #28a745  !important;
}

.btn-success:hover{
  color: #fff !important;
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

.btn-light{
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.btn-light:hover {
  color: #212529 !important;
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}

.buttonbar{
  vertical-align: bottom;
  height: 80px;
}

.btn-danger{
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}
    
.btn-primary{
  color: #fff;
}

.btn-secondary{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
